<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Our Sources</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.0.0/math.min.js"></script>
</head>

<body style="background-color: darkred">
  <!-- As a link -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="home.html">Wine For All Occasions</a>
    <nav class="nav">
      <a class="nav-link" href="map.html">Map</a>
      <a class="nav-link" href="index.html">Varieties</a>
      <a class="nav-link" href="table.html">Information</a>
      <a class="nav-link" href="resources_copy.html">Resources</a>
    </nav>
  </nav>


  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
      <div class="hero text-center">
        <h1 style="color:whitesmoke;">Wine From Around The World</h1>
      </div>
    </div>
  <div class="row">
   <div class="content">
      <h1 style="color:whitesmoke;">Resources</h1>
      <h2 style="color:whitesmoke;">Tools</h2>
      <li style="color:whitesmoke">Google & Mapbox API</li>
      <li style="color:whitesmoke">Leaflet, Simple Statistics, Plotly, & D3 JS Libraries
      <li style="color:whitesmoke">SQLite/SQL database (Postgres)
      <li style="color:whitesmoke">Languages: JavaScript, HTML, CSS, Python, SQL</li>
      <li style="color:whitesmoke">Flask app</li>
      <h2 style="color:whitesmoke;">Links</h2>
      <li style="color:whitesmoke"><a href="https://www.winemag.com/" target="blank">Wine Enthusiast Magazine</a></li>
      <li style="color:whitesmoke"><a href="https://www.kaggle.com/zynicide/wine-reviews"target="_blank">Kaggle Dataset</a></li>
      <li style="color:whitesmoke"><a href="https://github.com/Mkang525/Exploring_Wine_Varieties" target="_blank">GitHub repository</a></li>
      <h2 style="color:whitesmoke;">Additional Resources</h2>
      <li style="color:whitesmoke"><a href="https://en.wikipedia.org/wiki/" target="blank">Wikipedia</a></li>
      <li style="color:whitesmoke"><a href="https://winefolly.com/deep-dive/" target="blank">Winefolly</a></li>
      <li style="color:whitesmoke"><a href="https://www.thespruceeats.com/" target="blank">The Spurce Eats</a></li>
      <li style="color:whitesmoke"><a href="https://wineinsiders.com/wine-101/" target="blank">Wine Insiders</a></li>
      <li style="color:whitesmoke"><a href="https://www.winemag.com/varietals/" target="blank">Wine Mag</a></li>
      <li style="color:whitesmoke"><a href="https://www.winespectator.com/" target="blank">Wine Spectator</a></li>
      <li style="color:whitesmoke"><a href="https://www.thewinecellarinsider.com/wine-topics/" target="blank">The Wine Cellar Insider</a></li>
      <li style="color:whitesmoke"><a href="https://quigleyfinewines.com/2019/04/25/what-is-garganega/" target="blank">Quigley Fine Wines</a></li>
      <li style="color:whitesmoke"><a href="https://www.holmoakvineyards.com.au/what-is-moscato-wine/#:~:text=Moscato%20is%20a%20style%20of,alcohol%20than%20other%20sparkling%20wines
        " target="blank">Holmoak Vineyards</a></li>
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://unpkg.com/simple-statistics@7.3.0/dist/simple-statistics.min.js"></script>
  <!-- <script src="wine_data_updated.csv"></script> -->
  <!-- <script src="./static/js/app1.js"></script> -->
  <script src="../static/js/allWineTable.js"></script>
  <!-- <script src="../static/js/dropdown.js"></script> -->
  
  
</body>

</html>